/* 
    Document   : responsive
    Created on : 13/05/2014, 02:47:56 PM
    Author     : Pablo
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
@media (max-width: 768px)  and (max-height: 1024px)
{
    div.landingpage {width: 238px!important;}
    div.siteDescription {margin: 2% 13%!important;}
    div.mail-input { width: 40%!important; margin-top: 25%!important; margin-left: 18%!important;}
    img.logo {margin-left: 22em;margin-top: 5em!important;}
    div#footer {margin: 46px 12px!important; width: 75%!important;}
}
@media (max-width: 320px)  
{
    .container {width: 276px!important;}
    .siteIs { margin: -8% -11%!important;}
    .coming, .soon {line-height: 0pt!important;font-size: 50pt!important;}
    .coming {margin: 32% -8%;}
    .soon {margin: -14% 21%!important;}
    div.siteDescription { margin: 33% -7%!important;  line-height: 16pt!important;    width: 278px!important;height: 229px!important;}
    div.mail-input {margin-top: 158%!important;margin-left: -12%!important; width: 125%!important;}
    .inputMail {width: 272.9px;}
    .botonMail {width: 294px !important;margin-top: 43px;}
    .success {margin: 1% -6%!important;width: 84%!important;}
    img.logo {margin-left: 5em!important; margin-top: 8em!important;}
    div#footer {margin: 46px 31px!important;}
}

